// main: ../_layout.scss

header{
    width: 19rem;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid limegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    height: 100%;
}