// main: ../_elements.scss

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-between{
    @include flex;
    @include flex-direction(row);
    @include justify-content(space-between)
}