// main: ../_layout.scss

.error{
    margin: 0 auto;
    text-align: center;
    padding: 3%;
    padding-top: 10%;

    &-code{
        bottom: 60%;
        color: #2d353c;
        font-size: 7em;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    &-desc{
        p{
            margin: 2% 15% 5%;
        }
    }

    //a{
    //    margin-top: 1em;
    //    color: $color-primary;
    //    border: 1px solid $color-primary;
    //    padding: 1em;
    //    border-radius: 5px;
    //    &:hover{
    //        background-color: lighten($color-primary, 5%);
    //        color: $color-light;
    //    }
    //}
}