// main: ../_layout.scss

body.dark{
    background: $color-night;
    color: $color-light;

    // NAVIGATION
    .navbar-nav .nav-item:hover,
    .navbar-nav .current-menu-item,
    .navbar-nav .current_page_item,
    .btn-menu{
        background: $color-primary;
    }

    // FOOTER
    .footer{
        color: rgba($color-light, .5);
        a{
            color: #5e5e5e;
            text-shadow: 4px 2px 4px rgba(9, 9, 9, 0.9);
            &:hover{
                color: $color-primary-light;
            }
        }
    }


    // PROFIL
    .profil, .morph, .title-section{
        border-color: $color-primary;
    }

    // GENERAL
    .detail-title{
        color: $color-primary;
        text-shadow: 4px 2px 4px rgba(9, 9, 9, 0.9);
    }

    .error-code{
        text-shadow: 4px 2px 4px rgba(9, 9, 9, 0.9);
    }


    // BUTTON
    .btn{
        &-outline-primary{
            //text-shadow: 4px 2px 4px rgba(9, 9, 9, 0.9);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }
        &-outline-simple{
            //text-shadow: 4px 2px 4px rgba(9, 9, 9, 0.9);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            border-color: rgba($color-light, .5);
            color: rgba($color-light, .5);
        }
    }

    // TABS
    .nav-tabs {
        .nav-link {
            color: rgba($color-light, .4);
        }

        .nav-link.active,
        .nav-item.show, .nav-link:hover,
        .nav-link:focus, .nav-link:focus-visible {
            color: $color-light;
            border-color: rgba($color-light, .6);
            box-shadow: 0 0 10px rgba(255, 255, 255, .3);
        }
    }

    // TIMELINE
    .timeline{
        &::before{
            background: $color-primary;
        }
        &::after{
            border-color: $color-primary;
        }

        &-card{
            text-shadow: 4px 2px 4px rgba(9, 9, 9, 0.9);
        }

        &-item, &-collapse{
            background: rgba($color-dark, .3);
        }

        &-title p{
            color: rgba($color-light, .5);
        }

        &-date::before{
            //border-color: rgba($color-dark, .3);
            border-color: lighten($color-dark, 5);
            background: $color-primary;
        }
        &-date, &-collapse{
            border-color:rgba($color-light, .1);
        }
    }
    .collapse{
        &-footer{
            color: rgba($color-light, .5);
        }
    }
}
