// main: ../_layout.scss

section{
    padding: 1rem;
    min-height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &:nth-child(even){
        background-color: rgba(0,0,0,.1);
    }
}

.title-section{
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid $color-primary-dark;
    margin-bottom: 3rem;
    padding-bottom: 1em;
}

.desc-section{
    text-align: justify;
}

.no-result{
    text-align: center;
    line-height: 2;
}

@include responsive(XL){
    .desc-section{
        text-align: center;
    }
}
@include responsive(LG){
    .desc-section{
        text-align: center;
    }
}
@include responsive(MD){}
@include responsive(SM){}
@include responsive(XS){}