// main: ../_elements.scss

// picture profil in sidebar
.profil{
    border-radius: 100%;
    object-fit: cover;
    height: 11rem;
    width: 11rem;
    margin-bottom: 1.5rem;
    border: 0.5rem solid $color-primary;

    @include responsive(XL){
        height: 15rem;
        width: 15rem;
        border: 0.7rem solid $color-primary;
    }
}