// main: ../_elements.scss

// Timeline V1

.timeline{
    margin: auto;
    &-card{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-left: 1rem;
        position: relative;
        margin-bottom: 2rem;

        &:before{
            content: "";
            width: 2px;
            height: 100%;
            position: absolute;
            background: $color-primary-dark;
            opacity: .2;
            top: 5px;
            bottom: 0;
        }
    }
    &-dot{
        width: 15px;
        height: 15px;
        background: $color-primary-dark;
        position: absolute;
        top: 5px;
        border-radius: 500%;
        left: -7px;
        border: 3px solid #e1e1e1;
    }
    &-date{
        font-size: large;
    }
    &-item, .collapse-card{
        padding: 1rem;
        background: $color-light;
        border-radius: 5px;
        max-width: 450px;
    }
    &-content{
        display: flex;
        flex-flow: column wrap;
    }

    &-title{
        margin-bottom: 1rem;
        h2{
            font-size: xx-large;
            //line-height: 1.5;
            padding-top: .5rem;
            padding-bottom: 1rem;
        }
        h3{
            color: $color-primary;
            font-weight: normal;
            font-size: large;
        }
        p{
            margin-top: 0.5rem;
            font-weight: 300;
            letter-spacing: 1px;
            margin-bottom: 0;
        }
    }

    .detail-link{
        line-height: 2;
        letter-spacing: 1px;
        cursor: pointer;
        color: $color-primary-dark;
        text-align: right;

        &:hover, &:focus{
            color: $color-primary-light;
        }
    }
    &-collapse{}
}

.collapse{
    &-card{}
    &-title{
        h4{
            font-size: large;
            line-height: 2;
        }
    }
    &-body{
        ul{
            margin-left: 2rem;
        }
        li{
            list-style: disc;
        }
    }
    &-footer{
        text-align: right;
        font-size: smaller;
        font-weight: 100;
        padding: 0 .5rem;
    }
}

@include responsive(XL){}
@include responsive(LG){}
@include responsive(MD){}
@include responsive(SM){}
@include responsive(XS){}