// main: ../_components.scss

.social{
    &-list{
        margin-bottom: .5rem;
        @include flex;
        @include flex-flow(row nowrap);
        @include justify-content(space-between);
    }
    &-item{
        font-family: $font-icon;
        padding: 0.5rem;
        color: rgba($color-light, .5);
        transition: color 350ms ease;
        &:hover{
            color: $color-primary-light;
        }
    }
}

.network{
    &-list{
        margin-bottom: .5rem;
        @include flex-row-center;
    }
    &-item{
        font-family: $font-icon;
        padding: 0.5rem;
        &:hover{
        }
    }
}

@include landscape(SM){
    .social{
        &-list{
            @include flex-direction(column);
        }
    }
    .network{
        &-list{
            @include flex-direction(column);
        }
    }
}

@include landscape(XS){
    .social{
        &-list{
            @include flex-direction(column);
        }
    }
    .network{
        &-list{
            @include flex-direction(column);
        }
    }
}